@{
    ViewBag.Title = "Home Page";
}

<body style="background-color: #1f1f1f">
    <div class="container">
        <div class="row col-md-12 custyle">
            <table class="table table-striped custab">
                <thead>
                   
                    <tr>
                        <th>Logo</th>
                        <th>Nom</th>
                        <th>Classement</th>
                    </tr>
                </thead>
                <tr>
                    <td>1</td>
                    <td>News</td>
                    <td>News Cate</td>
                  
                </tr>
                <tr>
                    <td>2</td>
                    <td>Products</td>
                    <td>Main Products</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Blogs</td>
                    <td>Parent Blogs</td>
                </tr>
            </table>
        </div>
    </div>
</body>